---
name: On Merge

on:
  push:
    branches:
      - main

jobs:
  release-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@064fe7f3312418007dea2b49a19844a9ee378f49

      - name: Build
        uses: ./.github/actions/docker-image
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          latest: false